jobs:
- substitutions:
  - type: regex
    find: "(SUMMARY:)([^:]+): (.*)."
    replace: "$1$3"
  - type: string
    find: Business-hours-jsp_schedule
    replace: In Hours
  - type: string
    find: On-call secondary
    replace: Secondary
  - type: string
    find: On-call primary
    replace: Primary
  mappings:
  - source:
      type: http
      url: {{ (bitwarden "item" "subpub/opsgenie-url").notes }}
    destination:
      type: BucketObject
      path: {{ (bitwarden "item" "subpub/gcs-url").notes }}/opsgenie

- substitutions:
  - type: string
    find: "Charlie Egan - "
    replace: ""
  mappings:
  - source:
      type: http
      url: {{ (bitwarden "item" "subpub/timetastic-url").notes }}
    destination:
      type: BucketObject
      path: {{ (bitwarden "item" "subpub/gcs-url").notes }}/timetastic
